@using CyroTechPortal;

       <div class="col-md-12">
        
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">@Localizer.Current.GetString("MultiBarHeader")</h3>
                    <div class="box-tools pull-right">
                        <!-- Collapse Button -->
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                    <!-- /.box-tools -->
                </div>
               
                <!-- /.box-header -->
                <div class="box-body">
                    <div id="multibarechart" style="min-height:600px"></div>
                </div>
                <!-- /.box-body -->
                @*<div class="box-footer">
                    The footer of the box
                </div>*@
                <!-- box-footer -->
            </div>
            <!-- /.box -->
        
    </div>
        <script src="@Url.Content("~/Scripts/ECharts/echarts.js")"></script>
        <script>
        $(document).ready(function () {

       var dataItems;
            $('#progressIcon').show();
        $.ajax({
            //type: 'Get',
            url: '@Url.Action("GetHitecJobMultiBarData", "Report")',
            dataType: 'json',
            async: false,
            success: function (data) {
                
                 dataItems = data.result;
            },
            error: function (data) {
                alert("SomethingWrong" + data.result);

            }
            
        });
            $('#progressIcon').hide();
            
        //var earliestDate = dataItems.reduce((a, b) => (a.startdate < b.startdate ? a : b));//Get earliest startdate from list
        //var oldestDate = dataItems.reduce((a, b) => (a.enddate > b.enddate ? a : b));//Get highest enddate from list
        //var startDt = new Date(new Date(earliestDate.startdate).getTime() - (3 * 24 * 60 * 60 * 1000)); //add 3 day buffer before earliest startdate
        //var endDt = new Date(new Date(oldestDate.enddate).getTime() + (3 * 24 * 60 * 60 * 1000));//add 3 day buffer after highest enddate

     //   alert('Start : ' + JSON.stringify(startDt) + ' End : ' + oldestDate.enddate);


            var app = {};

            var chartDom = document.getElementById('multibarechart');
            var myChart = echarts.init(chartDom);
            var option;

            option = {
                //legend: {
                //    x: 'right',
                //    data: ['Open', 'Completed', 'Invoiced']
                //},
                tooltip: {},
                dataset: {
                    source: dataItems
                },
                xAxis: { type: 'category' },
                yAxis: {},
                // Declare several bar series, each will be mapped
                // to a column of dataset.source by default.
                series: [
                    {
                        type: 'bar', name: "Open",
                        itemStyle: { color: "green" }
                    },
                    {
                        type: 'bar', name: "Completed", itemStyle: { color: "red" }
                    },
                    {
                        type: 'bar', name: "Invoiced", itemStyle: { color: "yellow" }
                    },
                    {
                        type: 'bar', name: "NotStarted", itemStyle: { color: "blue" }
                    }
                ]
            };

            option && myChart.setOption(option);

        //  click
        @*$('#gantt').on('dblclick', function () {
            $.ajax({
					type: 'POST',
					url: '@Url.Action("GetHitecJob", "HitecJob")',
					data: { id: '' },
					dataType: "text",
					success: function(result) {
					if (result)
					{
						$('#viewModal').html(result);
					}
					else {
                        ShowNotification(false, data.errorMessage);

					}
					}
				});
        });*@


    });

        </script>
