<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <!--  <add name="EzFloManagerEntities" connectionString="metadata=res://*/EzFloManagerModel.csdl|res://*/EzFloManagerModel.ssdl|res://*/EzFloManagerModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql5064.site4now.net;initial catalog=DB_A61BF3_CyroTechManager;persist security info=True;User ID=DB_A61BF3_CyroTechManager_admin;Password=ThornFarm1!;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
 -->
    <add name="EzFloManagerEntities" connectionString="metadata=res://*/EzFloManagerModel.csdl|res://*/EzFloManagerModel.ssdl|res://*/EzFloManagerModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ZA-PLZ-L-ROBINC;initial catalog=Buna;persist security info=True;User ID=sa;Password=ThornFarm1!;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

  </connectionStrings>
  <appSettings>
    <add key="connectionString" value="Data Source=ZA-PLZ-L-ROBINC;Database=Buna;User Id=sa;Password=ThornFarm1!" />
    <!--<add key="connectionString" value="Data Source=localhost;database=webticketing;user id=root;password=root"/>-->
    <!--<add key="connectionString" value="Data Source=localhost;Database=master;User Id=AdmRC;Password=Robinella"/>-->
    <!--<add key="connectionString" value="Data Source=172.29.7.181;Database=master;User Id=ADMrc;Password=Robinella"/>-->
    <!--<add key="connectionString" value="Data Source=172.26.130.193;Database=master;User Id=AdmRC;Password=Robinella"/>-->
    <!--<add key="connectionString" value="Data Source=182.68.10.121;Database=master;User Id=EzFloUser;Password=EzFloUser"/>-->
    <!--<add key="connectionString" value="Data Source=172.26.130.193\Sql2012;Database=master;User Id=AdmRC;Password=Robinella"/>-->
    <!--<add key="connectionString" value="Data Source=172.26.130.193;Database=master;User Id=ProjectTeamManagerUsr;Password=MAM4pWBm%AKWjYuT"/>-->
    <add key="defaultDrive" value="C:\" />
    <add key="applicationFullPathName" value="EzFloManager" />
    <add key="ouputPathMetaData" value="DAEFModel\MetaData" />
    <add key="ouputPathModel" value="DALEFModel" />
    <add key="ouputPathServices" value="SRV" />
    <add key="ouputPathManagers" value="" />
    <add key="ouputPathControllers" value="\Controllers" />
    <add key="ouputPathSetup" value="\Views" />
    <add key="ouputPathEdit" value="\Views" />
    <add key="defaultDB" value="Cott" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
