/* General color defination
Color value depend on preset color that picking on template settings > Presets
*/

:root {
    --background-color: currentColor;
    --background: currentColor;
    --text-color: currentColor;
}
#sp_qc_submit,
#sp_qc_submit:hover,
.skills .progress-bar, 
.skills span, 
.skills pan:after,
#sp_qc_submit,
#offcanvas-toggler,
a.hikacart,
#sp-bottom .menu li a:before,
.lt-about-us .sppb-title-heading:before,
div.k2ItemsBlock ul li:after,
div.k2ItemsBlock ul li:hover .moduleItemReadMore:after,
.skill-box .skills-circle  ul > li,
.skill-box .skills-circle ul > li > span.bar-circle-cover,
div.itemCommentsForm form input#submitCommentButton,
div.itemCommentsForm form input#submitCommentButton:hover,
.creativecontactform_wrapper input.creativecontactform_send,
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li > a:after {
    background-color: var(--background-color);
}
#sp_qc_submit:before,
body.ltr .sp-megamenu-parent > li .sp-menu-badge,
.sp-megamenu-parent > li .sp-menu-badge {
   background: var(--background-color)!important;
}
#sp_qc_submit,
.video-item figure a:hover:after,
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li:hover > a,
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li.active > a,
div.k2ItemsBlock ul li a {
	color: var(--text-color);
}
#sp-bottom a,
#sp-bottom .menu li.active a,
sp-bottom .menu li a:hover,
#lt-pricing .lt-pricing-2 a.button-pricing:hover,
#sp-bottom1 ul:hover .text,
#sp-bottom1 ul:hover .icon em,
.top-right a, .lt-price-item ul li:before, ul.top-left li em,
.lt-title-video, .lt-abilities-item i, .lt-abilities-item h3,
.lt-title h3, .lt-testimonial-item em, .lt-contact-test-item h6, 
.lt-contact-test-item h4, .lt-services-item i, .lt-services-item h3,
.lt-about-content h3, .lt-our-item h6, .lt-staff-item h3,
.lt-event-content p {
  	color: var(--text-color)!important;
}
a.hikacart,
#sp_qc_submit,
#sp-quickcontact-form #sp_qc_submit:hover,
#sp_qc_submit, .lt-bg-colum, body:not(.home) #sp-header,
#sp-header.header-sticky, .lt-title h2:before, #sp-header,
.lt-divider {
   border-color:var(--text-color)!important;
}
.sp-megamenu-parent > li > a:before,
.btn-large, .button.btn-large,
.j2store-cart-button.btn.btn-primary:hover,
#lt-pricing .lt-pricing-2:after,
.sppb-panel-modern>.sppb-panel-heading.active:after,
.lt-services-colum, .lt-counter-item .sppb-icon-container,
.lt-contact-info a:hover, .lt-btn.black:hover,
.lt-services-item:after, #sp-bottom h3:before,
.lt-contact-icon .shrewd_solution_icon ul li a:hover, .lt-taste-img,
.lt-contact-icon .shrewd_solution_icon ul li a, .lt-events-time,
.lt-collection-border:before {
    background: var(--background-color)!important;
}
.video-item figure a:after:hover {
    border: 1px solid var(--text-color);
}
