@{
    ViewBag.Title = "Search";
}
<h2>
    Search</h2>
<table id="customers">
    <thead>
        <tr>
            <th>
                Last Name
            </th>
            <th>
                First Name
            </th>
            <th>
                Age
            </th>
            <th>
                Birthday
            </th>
            <th>
                Phone Number
            </th>
        </tr>
    </thead>
</table>

<script type="text/javascript">
    $(document).ready(function () {
        $('#customers').dataTable({
            "bProcessing": true,
            "bServerSide": true,
            "sAjaxSource": document.URL,
            "sServerMethod": "POST",
            "aoColumns": [
            { "mDataProp": "LastName" },
            { "mDataProp": "FirstName" },
            { "mDataProp": "Age" },
            { "mDataProp": "Birthday" },
            { "mDataProp": "PhoneNumber"}],
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                var birthday = new Date(parseInt(aData.Birthday.replace("/Date(", "").replace(")/", ""), 10));
                $('td:eq(3)', nRow).html(birthday.getMonth() + 1 + "/" + birthday.getDate() + "/" + birthday.getFullYear());
            }
        });
    });
</script>
