<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>

    <add name="EzFloManagerEntities" connectionString="metadata=res://*/EzFloManagerModel.csdl|res://*/EzFloManagerModel.ssdl|res://*/EzFloManagerModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.2.10.134;initial catalog=Delta_OTI_Manager_Qas_Tmp_600;persist security info=True;User ID=ADMrc;Password=Robinella;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EzFloDSDEntities" connectionString="metadata=res://*/EzFloDSDModel.csdl|res://*/EzFloDSDModel.ssdl|res://*/EzFloDSDModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.2.10.134;initial catalog=Delta_OTI_Qas_Tmp_600;persist security info=True;User ID=ADMrc;Password=Robinella;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    <!--<add name="EzFloManagerEntities" connectionString="metadata=res://*/EzFloManagerModel.csdl|res://*/EzFloManagerModel.ssdl|res://*/EzFloManagerModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.2.10.141;initial catalog=Delta_OTI_Manager_Prd;persist security info=True;User ID=AdmJvz;Password=12halstead;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EzFloDSDEntities" connectionString="metadata=res://*/EzFloDSDModel.csdl|res://*/EzFloDSDModel.ssdl|res://*/EzFloDSDModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.2.10.141;initial catalog=Delta_OTI_Prd;persist security info=True;User ID=AdmJvz;Password=12halstead;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

  </connectionStrings>
  <appSettings>
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="RouteDebugger:Enabled" value="true" />
    <add key="DefaultPageSize" value="10" />
    <add key="DefaultOrgID" value="1" />
    <add key="DefaultTheme" value="telerik.metro.min.css" />
    <add key="DefaultThemeID" value="103" />
    <add key="ShippingPoint" value="3448120" />
    <add key="DefaultLanguage" value="en-US" />
    <add key="DefaultLanguageID" value="1" />
    <add key="SupervisionOn" value="false" />
    <add key="DisplayErrorDetail" value="true" />
    <add key="ServerUserName" value="SAPCLOUD\rcyrolies" />
    <add key="ServerPassword" value="MandyVroom2014" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="Telerik.Web.Mvc.UI" />
      </namespaces>
    </pages>
  <httpHandlers>
            <add verb="GET,HEAD" path="asset.axd" validate="false" type="Telerik.Web.Mvc.WebAssetHttpHandler, Telerik.Web.Mvc" />
        </httpHandlers></system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  <handlers>
            <remove name="asset" />
            <add name="asset" preCondition="integratedMode" verb="GET,HEAD" path="asset.axd" type="Telerik.Web.Mvc.WebAssetHttpHandler, Telerik.Web.Mvc" />
        </handlers></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      
      <dependentAssembly>
        <assemblyIdentity name="NPOI" publicKeyToken="0df73ec7942b34e1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.3.1" newVersion="2.1.3.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>